.title-container {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.login-header-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  height: 50vh;
}

.header {
  color: #939393;
}

.header-icon {
  margin-right: 12px;
}

.mat-mdc-form-field {
  display: block !important;
}

.app-label {
  color: var(--engo-dark-blue);
}

.header-details {
  font-size: 10pt;
}

.login-card-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  max-width: 450px;
  height: fit-content;
}

.login-card {
  width: 100%;
  height: fit-content;
}

.login-card-title {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 8px;
}

.mat-mdc-card-title {
  margin-top: 24px !important;
}

.loading {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 850px) {
  .login-header-container {
    flex-direction: column;
  }

  .logo {
    margin-right: 0;
    font-size: 28pt;
  }

  .title-container {
    align-items: flex-start;
    margin-top: 30px;
    height: 25vh;
    min-height: 200px;
  }

  .login-card {
    height: fit-content;
  }
}
