<div class="login-container">
  <div class="title-container">
    <h1>Herzlich Willkommen!</h1>
  </div>
  <div class="login-header-container">
    <div class="login-form">
      <div class="login-card-container">
        <mat-card class="login-card">
          <mat-card-title class="login-card-title"
          ><h1><i class="fa-solid fa-arrow-right-to-bracket header-icon"></i>Einloggen</h1>
          </mat-card-title>
          <mat-card-content>
            <form [formGroup]="loginForm" *ngIf="!credentialsChecked && !showLoadingCircle" (ngSubmit)="checkCredentials(password.value)" class="form">
              <h3><i class="fas fa-key header-icon"></i>Anmeldedaten</h3>
              <mat-form-field appearance="fill">
                <mat-label>Benutzername oder E-Mail</mat-label>
                <input formControlName="username" type="text" matInput required/>
              </mat-form-field>
              <mat-error *ngIf="loginForm.get('username').hasError('required')">Geben Sie Ihren Benutzernamen oder Ihre E-Mail-Adresse ein.</mat-error>
              <mat-form-field appearance="fill">
                <mat-label>Passwort</mat-label>
                <input formControlName="password" type="password" matInput required/>
              </mat-form-field>
              <mat-checkbox class="checkbox" formControlName="stayLoggedIn" (change)="stayLoggedInChange($event)">Angemeldet bleiben</mat-checkbox>
              <mat-error *ngIf="loginForm.get('password').hasError('required')">Geben Sie Ihr Passwort ein.</mat-error>
              <div class="alert">
                <div *ngIf="password.invalid && password.touched && password.errors && password.errors['required']">Geben Sie Ihr Passwort ein.</div>
              </div>
              <div class="login-button">
                <button (click)="checkCredentials(password.value)" (window:keypress.enter)="checkCredentials(password.value)" [disabled]="!loginForm.valid || loginDisabled || isLoggingIn" [ngClass]="loginForm.valid || !loginDisabled ? 'btn btn-submit' : 'btn btn-disabled'" value="SendUsername">
                  <i class="fa fa-arrow-right btn-icon"></i>Weiter
                </button>
              </div>
            </form>

            <!-- STEP 2: 2FA Code + stay logged in + app select -->
            <form [formGroup]="loginMfaForm" *ngIf="credentialsChecked && tfaEnabled && !showLoadingCircle" class="form">
              <mat-form-field appearance="fill" *ngIf="tfaEnabled">
                <mat-label>Zwei-Faktor-Code</mat-label>
                <input formControlName="tfa" type="text" matInput required/>
              </mat-form-field>
              <mat-error *ngIf="loginMfaForm.get('tfa').hasError('required')">Geben Sie den Zweiten-Faktor-Code ein.</mat-error>
              <button [disabled]="loginMfaForm.invalid" mat-button>Anmelden</button>
            </form>
            <div *ngIf="loginSnoozeActive" class="alert">
              <p class="alert">
                Der Login ist aus Sicherheitsgründen für
                <countdown (event)="onCountdownEvent($event)" [config]="this.loginSnoozeCountdown"></countdown>
                Sekunden ausgesetzt.
              </p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
