<div id="titlebox">
    <h1 id="title">Benutzerverwaltung</h1>
    <h2 id="subtitle">Benutzer-Passwort ändern</h2>
</div>
<div id="backToList">
    <a (click)="this.router.navigate(['user/admin'])" class="link" id="backToList"><i class="link-icon fa fa-arrow-left"></i><span class="link-text-underline-hover">Zurück zur Benutzerverwaltung</span></a>
</div>
<h3 id="subtitle-2">Passwort für {{ fullname }} ändern</h3>
<div class="user-information user-password">
    <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm)" class="form" ngNativeValidate>
        <div class="form">
            <div class="password-field">
                <label class="inp" for="newPassword">
                    <input #newPasswort="ngModel" (ngModelChange)="checkPasswords(newPasswort.value, newPasswortCheck.value)" [type]="hidePasswordNew ? 'password' : 'text'" id="newPassword" name="newPasswort" ngModel placeholder="&nbsp;" required />
                    <span class="label">* Neues Passwort</span> <span class="focus-bg"></span>
                </label>
                <i (click)="hidePasswordNew = !hidePasswordNew" [ngClass]="hidePasswordNew ? 'fa fa-eye fa-3x' : 'fa fa-eye-slash fa-3x'" class="input-icon"></i>
            </div>
        </div>
        <div *ngIf="newPasswort && newPasswort.invalid && (newPasswort.dirty || newPasswort.touched)" class="alert">
            <div *ngIf="newPasswort.errors && newPasswort.errors.required">Geben Sie das neue Passwort an.</div>
        </div>
        <div class="form">
            <div class="password-field">
                <label class="inp" for="newPasswortCheck">
                    <input #newPasswortCheck="ngModel" (ngModelChange)="checkPasswords(newPasswort.value, newPasswortCheck.value)" [type]="hidePasswordNewCheck ? 'password' : 'text'" id="newPasswortCheck" name="newPasswortCheck" ngModel placeholder="&nbsp;" required />
                    <span class="label">* Neues Passwort bestätigen</span>
                    <span class="focus-bg"></span>
                </label>
                <i (click)="hidePasswordNewCheck = !hidePasswordNewCheck" [ngClass]="hidePasswordNewCheck ? 'fa fa-eye fa-3x' : 'fa fa-eye-slash fa-3x'" class="input-icon"></i>
            </div>
        </div>
        <div *ngIf="(newPasswortCheck && newPasswortCheck.invalid && (newPasswortCheck.dirty || newPasswortCheck.touched)) || passwordsNotIdentical" class="alert">
            <div *ngIf="newPasswortCheck.errors && newPasswortCheck.errors.required">Geben Sie das neue Passwort bitte nochmal ein.</div>
            <div *ngIf="passwordsNotIdentical === true">Das neue Passwort und die wiederholte Eingabe stimmen nicht überein.</div>
        </div>
        <div id="btn-reisekosten-generate">
            <button [disabled]="!changePasswordForm.valid || passwordsNotIdentical" [ngClass]="changePasswordForm.valid && !passwordsNotIdentical ? 'btn' : 'btn btn-disabled'" class="btn btn-submit" type="submit" value="Send"><i class="fa fa-key btn-icon"></i>Passwort ändern</button>
        </div>
    </form>
</div>
