:root {
  --rm-light-blue: #01b0da;
  --rm-dark-blue: #011a3d;
  --rm-green: #04af4f;
  --rm-dark-green: #004d00;
  --rm-gray: #808080;
  --rm-red: #b20302;
  --rm-yellow: #ffcc00;
  --rm-white: #ffffff;
  --rm-black: #000000;
}
