@use "@angular/material" as mat;
@include mat.core();
$primary: mat.define-palette(mat.$blue-palette, 900);
$accent: mat.define-palette(mat.$gray-palette, 500);
$warn: mat.define-palette(mat.$red-palette, 900);
$custom-typography: mat.define-typography-config(
  $font-family: "Roboto, sans-serif",
  $headline-1: mat.define-typography-level(20px, 24px, 500, "Roboto", "normal"),
  $headline-2: mat.define-typography-level(16px, 24px, 500, "Roboto", "normal"),
  $headline-3: mat.define-typography-level(14px, 24px, 500, "Roboto", "normal"),
  $headline-4: mat.define-typography-level(20px, 24px, 500, "Roboto", "normal"),
  $headline-5: mat.define-typography-level(20px, 24px, 500, "Roboto", "normal"),
  $headline-6: mat.define-typography-level(20px, 24px, 500, "Roboto", "normal"),
  $subtitle-1: mat.define-typography-level(11pt, 24px, 500, "Roboto", "normal"),
  $subtitle-2: mat.define-typography-level(13px, 24px, 500, "Roboto", "normal"),
  $body-2: mat.define-typography-level(14px, 24px, 500, "Roboto", "normal"),
  $body-1: mat.define-typography-level(14px, 20px, 400, "Roboto", "normal"),
  $caption: mat.define-typography-level(14px, 20px, 400, "Roboto", "normal"),
  $button: mat.define-typography-level(14px, 14px, 500, "Roboto", "normal"),
  $overline: mat.define-typography-level(14px, 14px, 500, "Roboto", "normal"),
);
$theme: mat.define-light-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
      typography: $custom-typography,
      density: 0,
    )
);
@include mat.all-component-typographies($custom-typography);
@include mat.all-component-themes($theme);

/* material dialog override */
.mat-mdc-dialog-container {
  --mdc-dialog-container-color: var(--rm-white);
  --mdc-dialog-subhead-color: var(--rm-dark-blue);
}

/* material toggle override */
.mat-mdc-slide-toggle {
  --mdc-switch-disabled-selected-handle-color: var(--rm-gray);
  --mdc-switch-disabled-unselected-handle-color: var(--rm-gray);
  --mdc-switch-disabled-selected-track-color: var(--rm-gray);
  --mdc-switch-disabled-unselected-track-color: var(--rm-gray);
  --mdc-switch-unselected-focus-state-layer-color: var(--rm-gray);
  --mdc-switch-unselected-pressed-state-layer-color: var(--rm-gray);
  --mdc-switch-unselected-hover-state-layer-color: var(--rm-gray);
  --mdc-switch-unselected-focus-track-color: var(--rm-gray);
  --mdc-switch-unselected-hover-track-color: var(--rm-gray);
  --mdc-switch-unselected-pressed-track-color: var(--rm-gray);
  --mdc-switch-unselected-track-color: var(--rm-gray);
  --mdc-switch-unselected-focus-handle-color: var(--rm-black);
  --mdc-switch-unselected-hover-handle-color: var(--rm-black);
  --mdc-switch-unselected-pressed-handle-color: var(--rm-gray);
  --mdc-switch-handle-surface-color: var(--rm-black);
  --mdc-switch-unselected-handle-color: var(--rm-black);
  --mdc-switch-selected-icon-color: var(--rm-white);
  --mdc-switch-disabled-selected-icon-color: var(--rm-dark-green);
  --mdc-switch-disabled-unselected-icon-color: var(--rm-gray);
  --mdc-switch-unselected-icon-color: var(--rm-white);
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: var(--rm-green);
  --mdc-switch-selected-handle-color: var(--rm-green);
  --mdc-switch-selected-hover-state-layer-color: var(--rm-dark-green);
  --mdc-switch-selected-pressed-state-layer-color: var(--rm-green);
  --mdc-switch-selected-focus-handle-color: var(--rm-green);
  --mdc-switch-selected-hover-handle-color: var(--rm-green);
  --mdc-switch-selected-pressed-handle-color: var(--rm-green);
  --mdc-switch-selected-focus-track-color: var(--rm-gray);
  --mdc-switch-selected-hover-track-color: var(--rm-gray);
  --mdc-switch-selected-pressed-track-color: var(--rm-gray);
  --mdc-switch-selected-track-color: var(--rm-gray);
}

/* material snackbar override */
.mat-mdc-snack-bar-container {
  &.snackbar {
    --mdc-snackbar-container-color: var(--rm-green);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.snackbar-error {
    --mdc-snackbar-container-color: var(--rm-red);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.snackbar-info {
    --mdc-snackbar-container-color: var(--rm-black);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
