@import "@angular/material/prebuilt-themes/indigo-pink.css";

html {
  background-color: white;
}

* {
  font-family: Roboto Condensed, sans-serif !important;
  font-weight: 500 !important;
  color: var(--engo-black);
}

p {
  color: var(--engo-black);
}
